.blocked-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.blocked-message {
    padding: 0 10px;
    color: red;
}

.blocked-btn {
    padding: 6px 10px;
    border: 1.4px solid gray;
    border-radius: 25px;
    cursor: pointer;
}