.back-arrow {
    background-color: var(--secondary);
    height: 85px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-arrow-left {
    display: flex;
    align-items: center;
}

.chat-active-username {
    font-weight: 600;
}

@media screen and (min-width: 900px) {
    .chat-header-back-icon-container {
        display: none;
    }
}
