.message-item {
    display: flex;
    margin: 5px 0px;
}

.message-item-content-container {
    max-width: 250px;
    margin-top: 5px;
}

.message-item-content {
    padding: 7px 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 0.86rem;
    user-select: none;
    display: block;
  
}

.message-image {
    width: 220px;
    height: 180px;
    border-radius: 5px;
    object-fit: contain;
    border: 0.1px solid gray;
}

.sender {
    background-image: linear-gradient(#ff8080, #ff0080);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff
}

.message-item-created {
    font-size: 11px;
    margin-left: 6px;
    user-select: none;
}

@media screen and (min-width: 550px) {
    .message-item-content-container {
        max-width: 400px;
    }
}
