.message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: var(--secondary);
}

.message-img-icon,
.message-send-icon {
    font-size: 32px;
    cursor: pointer;
    color: var(--primary);
}

.message-input {
    width: 100%;
    margin: 0 10px;
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.message-input:focus {
    outline: none;
}

@media screen and (min-width: 900px) {
    .message-input-container {
        width: 100%;
    }
}
