.form-groups-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 4px;
    margin: 4px 0
}


.form-groups {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.profile-edit-label {
    font-weight: 600;
}

.profile-edit-form-input {
    padding:  .7rem ;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: inherit;
}

.profile-edit-form-input:focus {
    outline: none;
}

.profile-edit-icon {
    font-size: 25px;
    color: var(--primary)
}