.user {
    flex: 1;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.user-header-body-wrapper {
    padding: 0 10px;
    height: calc(100vh - 75px);
    overflow: auto;
}

@media screen and (min-width: 900px) {
    .user {
        flex: 0.3;
    }
}
