.user-list-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: all var(--speed) ease;
}

.user-list-item:hover {
    background-color: var(--primary);
}

.user-list-item-container {
    display: flex;
    align-items: center;
}

.user-list-item-username-container {
    display: flex;
    align-items: center;
}

.user-list-item-username {
    user-select: none;
    text-transform: capitalize;
}

.unread-message-badge-txt {
    padding: 0 7px;
    font-weight: 700;
    font-size: 12px;
}

.unread-message-badge {
    background-color: var(--primary);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}


.user-list-item-message,
.user-list-sender {
    font-size: 13px;
    user-select: none;
}

.user-list-item-date {
    font-size: 11px;
    padding: 0 7px;
    user-select: none;
}

.user-list-dots-icon {
    font-size: 20px;
    cursor: pointer;
}
