.user {
    flex: 1;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;
    overflow: auto;
    position: relative;
}

.user-header-body-wrapper {
    height: calc(100vh - 80px);
    overflow: auto;
}

@media screen and (min-width: 900px) {
    .user {
        flex: 0.3;
        height: calc(100vh - 65px);
    }

    .user-header-body-wrapper {
        height: calc(100vh - 145px);
    }
}
