.user-search {
    margin-top: 10px;
    padding: 6px 10px;
}

.user-search-container {
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.user-search-icon {
    font-size: 23px;
}

.user-search-input {
    width: 100%;
    padding: 5px;
    background-color: inherit;
    border: none;
    font-size: 15px;
}

.user-search-input:focus {
    outline: none;
}
