.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 10px;
}

.header-user-info {
    display: flex;
    align-items: center;
}

.user-header-username {
    text-transform: capitalize;
    font-weight: 600;
}
