.user-list-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.user-list-item:hover {
    background-color: aliceblue;
}

.user-list-item-container {
    display: flex;
    align-items: center;
}

.user-list-item-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.user-list-item-detail-container {
    margin: 0 7px;
    max-width: 300px;
}

.user-list-item-username {
    font-weight: 600;
}

.user-list-item-message {
    color: gray;
    font-size: 12.5px;
}

.user-list-item-date {
    color: gray;
    font-size: 13px;
    padding: 0 7px;
}

.user-list-dots-icon {
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
