.chat {
    display: flex;
    flex: 1;
}

.chat-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

@media screen and (min-width: 900px) {
    .chat-container {
        flex: 0.7;
    }
}
