.home {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    .home {
        height: calc(100vh - 65px);
        margin: 65px 10px 0px 10px;
    }
}
