.user-container {
    display: flex;
    flex: 1;
}

.user-chat-welcome {
    display: none;
    background-color: #fff;
}

.chat-box-welcome{
    color: var(--primary);
    font-size: 27px;
}

@media screen and (min-width: 900px) {
    .user-chat-welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0.7;
    }
}
