.modal-item {
    padding: 5px 10px;
    margin: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.modal-item:hover {
    background-color: aliceblue;
}

.modal-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
