.main {
    width: 100%;
}

.main-enter {
    position: absolute;
    transform: translateX(-110%);
}

.main-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease;
}

.main-exit {
    position: absolute;
}

.main-exit-active {
    transform: translateX(-110%);
    transition: all 300ms ease;
}

.main-enter-done {
    transform: translateX(0%);
}

/* sub main */

.sub-main {
    width: 100%;
}

.sub-main-enter {
    position: absolute;
    transform: translateX(110%);
}

.sub-main-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease;
}

.sub-main-exit {
    position: absolute;
}

.sub-main-exit-active {
    transform: translateX(110%);
    transition: all 300ms ease;
}

.sub-main-enter-done {
    transform: translateX(0%);
}

.sub-main-arrow-back {
    background-color: #f1f1f1;
    height: var(--icon-width);
    width: var(--icon-width);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sub-main-arrow-back-icon {
    font-size: 20px;
    color: var(--primary);
}

@media screen and (min-width: 900px) {
    .user-header-modal-container {
        height: calc(100vh - 65px);
    }
}

@media screen and (min-width: 400px) {
    .user-header-modal {
        width: 80%;
    }
}
