.toggle {
    width: 32px;
    height: 20px;
    border-radius: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 500ms ease;
}

.toggle-label {
    position: absolute;
    display: block;
    font-size: 15px;
}
