
.message-error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.message-error-icon-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.message-error-icon {
    font-size: 80px;
}

.message-error span {
    text-align: center;
}