.header {
    background-color: #f0f0f0;
    height: 65px;
    width: 100%;
    font-size: 22px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.header-title {
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (min-width: 900px) {
    .header {
        opacity: 1;
        visibility: visible;
    }
}
