* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
    --primary: #ff0080;
    --secondary: #f1f1f1;
    --icon-width: 35px;
    --hover-color: #fff;
    --speed: 400ms;
}
